<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css" href="/home/css/header20190422.css" />
<div class="header">
	<div class="ht">
		<div class="ht-inner">
			<ul class="ht-left">
				<li><a href="http://www.2ge.cn/">网站首页</a></li>
				<li><a href="/home/help/1" rel="nofollow">帮助中心</a></li>
				<li><a href="/home/plaint.html" rel="nofollow">建议投诉</a></li>
				<li><a href="//tj.2ge.cn" rel="nofollow">图集</a></li>
			</ul>
			<ul class="ht-right" id="login_msg">
				<li class="rightLi1" id="collect_msg"></li>
			</ul>
		</div>
	</div>
	<div class="hc">
		<div class="h1 simg">
			<a target="_self" href="//www.2ge.cn"><span class="shade"></span></a>
		</div>
		<div class="hc-right">
			<div class="inp">
				<div class="inp-txt">
					<input type="text" placeholder="${hotmessage!}" id="serch_val" value="">
					<i onclick="serchVal()"><img src="/home/images/searchBtn.png"></i>
					<ul class="dxiao2" style="display: none">
					</ul>
				</div>
			</div>
			<div class="related_search" id="searchLog">
				<#list hotwords as hot>
				<a href=/search/s.html?pages=1&key=${hot}&sortKey=&channel=&type=&order=">${hot}</a>
				</#list>
			</div>
		</div>
		<div class="realRight">
			<ul class="wapAccountsApplet">
				<li>
					<span></span>
					<p>移动端</p>
				</li>
				<li>
					<span></span>
					<p>公众号</p>
				</li>
				<li>
					<span></span>
					<p>小程序</p>
				</li>
			</ul>
			<div class="hoverDiv">
				<div class="wapHover">
					<span><img src="/home/images/ty.png"></span>
					<label>下载二哥APP</label>
					<p>通过app扫一扫功能即可获取：专业购物知识、优惠折扣信息、实用消费资讯</p>
				</div>
				<div class="accountHover">
					<span><img src="/home/images/ergepns.jpg"></span>
					<label>关注二哥</label>
					<p style="text-align:center; ">让购物消费更<br>专业更简单</p>
				</div>
				<div class="appletHover">
					<span><img src="/home/images/smallChengXu.jpg"></span>
					<label>二哥网微信公众号</label>
				</div>
			</div>
		</div>
	</div>
	<div class="nav">
		<div class="nav-inner">
			<ul class="nav-r" style="padding-left:0;width:100%;">
				<li value="100" class="index_home"><a id="tag_100" target="_self" href="//www.2ge.cn"><img src="/home/images/home_index.png">首页</a>
				<li class="line"></li>
				</li>
				<li value="103"><a id="tag_103" target="_self" href="/yj/">购买依据</a>
				</li>
				<li value="104"><a id="tag_104" target="_self" href="/jq/">购买技巧</a>
				</li>
				<li value="105"><a id="tag_105" target="_self" href="/ts/">购买提示</a>
				</li>
				<li value="106"><a id="tag_106" target="_self" href="/wq/">购买误区</a>
				</li>
				<li value="107"><a id="tag_107" target="_self" href="/xj/">购买陷阱</a>
				</li>
				<li value="108"><a id="tag_108" target="_self" href="/lc/">购买流程</a>
				</li>
				<li class="line"></li>
				<li value="109"><a id="tag_109" target="_self" href="/bz/">国家标准</a>
				</li>
				<li value="101"><a id="tag_101" target="_self" href="/bg/">曝光台</a>
				</li>
				<li value="110"><a id="tag_110" target="_self" href="/yp/">优质品牌</a>
				</li>
				<li class="line"></li>
				<li value="111"><a id="tag_111" target="_self" href="/hl/">保养护理</a>
				</li>
				<li value="112"><a id="tag_112" target="_self" href="/fw/">售后服务</a>
				</li>
				<li value="102"><a id="tag_102" target="_self" href="/fx/">经验分享</a>
				</li>
				<li value="113"><a id="tag_113" target="_blank" href="//zhe.2ge.cn" rel="nofollow"><img src="/home/images/discountWords.png"></a>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="headerFixed">
	<div class="headerFixedInner">
		<div class="indexa">
			<a href="http://www.2ge.cn/">首页</a>
			<i></i>
		</div>
		<ul class="headerFixedNav">
			<li value="103"><a id="tag_103" target="_self" href="/yj/">购买依据</a>
			</li>
			<li value="104"><a id="tag_104" target="_self" href="/jq/">购买技巧</a>
			</li>
			<li value="105"><a id="tag_105" target="_self" href="/ts/">购买提示</a>
			</li>
			<li value="106"><a id="tag_106" target="_self" href="/wq/">购买误区</a>
			</li>
			<li value="107"><a id="tag_107" target="_self" href="/xj/">购买陷阱</a>
			</li>
			<li value="108"><a id="tag_108" target="_self" href="/lc/">购买流程</a>
			</li>
			<li value="109"><a id="tag_109" target="_self" href="/bz/">国家标准</a>
			</li>
			<li value="101"><a id="tag_101" target="_self" href="/bg/">曝光台</a>
			</li>
			<li value="110"><a id="tag_110" target="_self" href="/yp/">优质品牌</a>
			</li>
			<li value="111"><a id="tag_111" target="_self" href="/hl/">保养护理</a>
			</li>
			<li value="112"><a id="tag_112" target="_self" href="/fw/">售后服务</a>
			</li>
			<li value="102"><a id="tag_102" target="_self" href="/fx/">经验分享</a>
			</li>
			<li value="113"><a id="tag_113" target="_blank" href="//zhe.2ge.cn" rel="nofollow"><img src="/home/images/discountWords.png"></a>
			</li>
		</ul>
		<ul class="wapAccounts">
			<li>移动端</li>
			<li>公众号</li>
			<li>小程序</li>
		</ul>
		<div class="hoverDiv">
			<div class="wapHover">
				<span><img src="/home/images/ty.png"></span>
				<label>下载二哥APP</label>
				<p>通过app扫一扫功能即可获取：专业购物知识、优惠折扣信息、实用消费资讯</p>
			</div>
			<div class="accountHover">
				<span><img src="/home/images/ergepns.jpg"></span>
				<label>关注二哥</label>
				<p style="text-align:center; ">让购物消费更<br>专业更简单</p>
			</div>
			<div class="appletHover">
				<span><img src="/home/images/smallChengXu.jpg"></span>
				<label>二哥购物指导小程序</label>
			</div>
		</div>
		<div class="headerFixedSearch">
			<input id="serchfix_val" type="text" placeholder=""/>
			<i></i>
		</div>
	</div>
</div>
<script src="/home/js/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="/home/js/base64.js" type="text/javascript"></script>
<script src="/home/js/index20190422.js" type="text/javascript"></script>
<script src="/home/js/basis.js" type="text/javascript"></script>
<script src="/home/js/header20190422.js" type="text/javascript"></script>
<script src="/home/js/yiju.js" type="text/javascript"></script>
<script src="/home/js/msg.js" type="text/javascript"></script>
<script src="/home/js/prompt.js" type="text/javascript" ></script>
<script src="/search/js/display.js" type="text/javascript"></script>
<script type="text/javascript">
    localStorage.topval = null;
    $(function(){
        // 兼容IE9下的placeholder
        function placeholderSupport() {
            return 'placeholder' in document.createElement('input');
        }
        if(!placeholderSupport()){   // 判断浏览器是否支持 placeholder
            $("[placeholder]").each(function(){
                var _this = $(this);
                var left = _this.css("padding-left");
                _this.parent().append('<span class="placeholder" data-type="placeholder" style="left: ' + left + '">' + _this.attr("placeholder") + '</span>');
                if(_this.val() != ""){
                    _this.parent().find("span.placeholder").hide();
                }
                else{
                    _this.parent().find("span.placeholder").show();
                }
            }).on("focus", function(){
                $(this).parent().find("span.placeholder").hide();
            }).on("blur", function(){
                var _this = $(this);
                if(_this.val() != ""){
                    _this.parent().find("span.placeholder").hide();
                }
                else{
                    _this.parent().find("span.placeholder").show();
                }
            });
            // 点击表示placeholder的标签相当于触发input
            $("span.placeholder").on("click", function(){
                $(this).hide();
                $(this).siblings("[placeholder]").trigger("click");
                $(this).siblings("[placeholder]").trigger("focus");
            });
        }
    })
</script>